{#

Description text for the Hello World Example.

#}

{% set help_hello_world = path('help.page', {'name': 'hello_world'}) %}
{% set node_add_page = path('node.add_page') %}
{% set user_login = path('user.login') %}

{% trans %}

<h2>Hello World</h2>

<p>Hello There!</p>

{% endtrans %}
