@use '../variables/default';

//$button-primary-background-color: #282828;
$button-primary-background-color: #517dd5;
$button-secondary-background-color: #eee;

.button {
  display: inline-block;
  //width: 100%;
  width: fit-content;
}

.button--block {
  display: block;
}

.button--rounded {
  border-radius: default.$border-radius;
}

.button--primary {
  background-color: $button-primary-background-color;
}

.button--secondary {
  background-color: $button-secondary-background-color;
}
